/backend/venv/
frontend/package-lock.json
backend/.env
backend/db.sqlite3
backend/.idea/.gitignore
backend/.idea/backend.iml
backend/.idea/modules.xml
backend/.idea/vcs.xml
backend/.idea/inspectionProfiles/profiles_settings.xml
backend/.idea/libraries/Django_Lib.xml
backend/config/__pycache__/__init__.cpython-310.pyc
backend/config/__pycache__/settings.cpython-310.pyc
backend/config/__pycache__/urls.cpython-310.pyc
backend/config/__pycache__/wsgi.cpython-310.pyc
backend/events/__pycache__/__init__.cpython-310.pyc
backend/events/__pycache__/admin.cpython-310.pyc
backend/events/__pycache__/apps.cpython-310.pyc
backend/events/__pycache__/models.cpython-310.pyc
backend/events/__pycache__/serializers.cpython-310.pyc
backend/events/__pycache__/urls.cpython-310.pyc
backend/events/__pycache__/views.cpython-310.pyc
backend/events/migrations/__pycache__/__init__.cpython-310.pyc
backend/events/migrations/__pycache__/0001_initial.cpython-310.pyc
backend/events/migrations/__pycache__/0002_trainer.cpython-310.pyc
backend/users/__pycache__/__init__.cpython-310.pyc
backend/users/__pycache__/admin.cpython-310.pyc
backend/users/__pycache__/apps.cpython-310.pyc
backend/users/__pycache__/models.cpython-310.pyc
backend/users/__pycache__/serializers.cpython-310.pyc
backend/users/__pycache__/urls.cpython-310.pyc
backend/users/migrations/__pycache__/__init__.cpython-310.pyc
frontend/package-lock.json
backend/events/migrations/__pycache__/0002_trainer.cpython-310.pyc
backend/events/migrations/__pycache__/0002_trainer.cpython-310.pyc
backend/events/migrations/__pycache__/0002_trainer.cpython-310.pyc
backend/blog/__pycache__/__init__.cpython-310.pyc
backend/events/migrations/__pycache__/0002_trainer.cpython-310.pyc
backend/events/migrations/__pycache__/0002_trainer.cpython-310.pyc
.idea/djang-gym.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
backend/.idea/misc.xml
backend/.idea/inspectionProfiles/Project_Default.xml
backend/config/.env
backend/config/__pycache__/customPermissions.cpython-310.pyc
.gitignore
backend/blog/__pycache__/admin.cpython-310.pyc
backend/blog/__pycache__/apps.cpython-310.pyc
backend/blog/__pycache__/models.cpython-310.pyc
backend/blog/__pycache__/pagination.cpython-310.pyc
backend/blog/__pycache__/serializers.cpython-310.pyc
backend/blog/__pycache__/urls.cpython-310.pyc
backend/blog/__pycache__/views.cpython-310.pyc
backend/blog/migrations/__pycache__/__init__.cpython-310.pyc
backend/blog/migrations/__pycache__/0001_initial.cpython-310.pyc
