/backend/venv/
frontend/package-lock.json
backend/.env
backend/db.sqlite3
backend/.idea/.gitignore
backend/.idea/backend.iml
backend/.idea/modules.xml
backend/.idea/vcs.xml
backend/.idea/inspectionProfiles/profiles_settings.xml
backend/.idea/libraries/Django_Lib.xml
frontend/package-lock.json
.idea/djang-gym.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
backend/.idea/misc.xml
backend/.idea/inspectionProfiles/Project_Default.xml
backend/config/.env
*.pyc